* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', sans-serif;
}

html {
    font-size: 85px;
}

body {
    width: 100%;
    font-size: 0;
}

a,
li {
    cursor: pointer;

    text-decoration: none;
}

h1 {
    font-size: .26rem;
    font-weight: 500;
    color: black;
}

h2 {
    font-size: .20rem;
    font-weight: 500;
    color: #4f4f4f;

}

h3 {
    font-size: .16rem;
    font-weight: 500;
    color: #4f4f4f;

}

p {
    font-size: .14rem;
}

ul {
    list-style: none;
}

.main {
    margin: 0 auto;
}

._empty {
    height: 100%;

    display: inline-block;
    vertical-align: middle;
}

._box {
    width: 1000px;
    height: 100%;

    margin: 0 auto;

    text-align: center;
    position: relative;
}

._tag {
    width: 178px;
    height: 30px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 1px;

    background: #dddddd;
    color: black;
    display: inline-block;
    vertical-align: bottom;
    font-size: .16rem;
    line-height: 35px;
    text-align: center;

}

._tag_choose {
    height: 35px;

    line-height: 35px;
    background: #14598c;
    color: white;
}

._course {
    width: 155px;
    height: 130px;

    border: solid 1px #4f627e;
    margin: 19px;

    display: inline-block;
}

._course div {
    width: 140px;
    height: 81px;

    margin: 10px auto 0;

    overflow: hidden;
    background: url(../images/course_01.jpg);
    background-position: center center;
    text-align: center;
}

._course p {
    width: 100%;
    height: 81px;
    line-height: 21px;

    color: white;
    background: rgba(0, 0, 0, .7);

    position: relative;
    bottom: -60px;
}

._course p:hover,
._course div:hover > p {
    bottom: 0;
}



._course img {
    width: 140px;

    text-align: center;
    margin: 0 0 0 7px;
}

._course span {
    display: inline-block;

    font-size: .12rem;
    line-height: .12rem;

    margin: 12px 10px 0;
}

/* header
-------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 70px;

    border-bottom: solid 1px #135888;

    background: #14598c;
}

.header_login {
    width: 50vw;
    height: 50vh;

    border: solid 1px black;

    position: fixed;
    top: 25vh;
    left: 25vw;
    z-index: 99;

    background: white;
    text-align: center;
    display: none;
}

.header_login input {
    width: 20vw;
    height: 5vh;

    margin: 0 15vw 1vh;
    border: solid 1px black;

    display: inline-block;
}

.header_login input[type="submit"] {
    margin-top: 2vh;
}

.header_login label {
    width: 20vw;
    height: 2vh;

    margin: 0 15vw;

    font-size: 2vh;
    line-height: 2vh;
    display: inline-block;

    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.header_login label:hover {

    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.header_login label > span {
    display: none;
}

.header_login label:hover > span {
    display: inline;
}

.header_login h1 {
    font-size: 5vh;
    line-height: 5vh;

    margin: 3vh 0 2vh;
}

.header_sign {
    width: 50vw;
    height: 70vh;

    border: solid 1px black;

    position: fixed;
    top: 15vh;
    left: 25vw;
    z-index: 99;

    background: white;
    text-align: center;
    display: none;

}

.header_sign input {
    width: 20vw;
    height: 5vh;

    margin: 0 15vw 1vh;
    border: solid 1px black;

    display: inline-block;
}

.header_sign input[type="submit"] {
    margin-top: 2vh;
}

.header_sign label {
    width: 20vw;
    height: 2vh;

    margin: 0 15vw;

    font-size: 2vh;
    line-height: 2vh;
    display: inline-block;

    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.header_sign label:hover {

    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.header_sign label > span {
    display: none;
}

.header_sign label:hover > span {
    display: inline;
}

.header_sign h1 {
    font-size: 5vh;
    line-height: 5vh;

    margin: 3vh 0 2vh;
}

.header_box {
    width: 1000px;
    height: 70px;

    margin: 0 auto;

    text-align: center;
    color: #ffffff;
}

.header_box * {
    display: inline-block;
    vertical-align: middle;
}

.header_box img[src="static/images/logo.png"] {
    width: 164px;

    margin-right: 24px;
}

.header_box > ul {
    margin-right: 100px;
}

.header_box > ul > li {
    height: 70px;
    line-height: 70px;

    position: relative;
}

.header_box > ul > li:hover {
    background: #104974;
}

.header_box > ul > li > a {
    height: .22rem;
    line-height: .22rem;

    border-right: solid 1px #ffffff;
    padding-left: 18px;
    padding-right: 18px;

    text-align: center;
    font-size: .24rem;
    color: white;
}

.header_box > ul > li > a > ul {
    display: none;
    width: 145px;
    height: 90px;

    position: absolute;
    top: 70px;
    left: 0;

    background: #1d69a3;

    /* shadow */
    box-shadow: 3px 3px 3px #000000;
    -moz-box-shadow: 3px 3px 3px #000000;
    -webkit-box-shadow: 3px 3px 3px #000000;
}

.header_box > ul > li:hover > a > ul,
.header_box > ul > li > a > ul:hover {
    z-index: 10;
    display: inline-block;
}

.header_box > ul > li > a > ul > li {
    width: 100%;
    height: 45px;
    line-height: 45px;

    font-size: .22rem;
}

.header_box > ul > li > a > ul > li:hover {
    background: #14598c;
}

.header_box input[name="search"] {
    width: 210px;
    height: 30px;

    margin-right: 18px;
}

.header_box > a {
    height: .14rem;
    line-height: .14rem;

    padding-left: 14px;
    padding-right: 14px;
    border-right: solid 1px #ffffff;

    font-size: .16rem;
}

/* footer
-------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 200px;

    background: #696e71;
}

.footer_box * {
    display: inline-block;
}

.footer_box > * {
    vertical-align: middle;

}

.footer_box {
    width: 1000px;
    height: 100%;

    margin: 0 auto;

    text-align: center;
    font-size: .16rem;
}

.footer_box_block1 {
    width: 160px;
    height: 115px;
    text-align: left;
}

.footer_box_block1 > span {
    margin-right: 20px;
}

.footer_box_block2 {
    width: 200px;
    height: 115px;
    text-align: left;
}

.footer_box_block2 > img {

    margin-right: 15px;
}

.footer_box_block1 > p,
.footer_box_block2 > p {
    width: 100%;
    margin-bottom: 14px;
}

.footer_box_logo {
    margin-left: 300px;
}

.footer_box_logo img {
    margin-right: 10px;
}

